/*==================================================================================================
	MAIN CSS
==================================================================================================*/

/*************************************************
	CLEAR FLOATS
*************************************************/

.lt-ie8 #header,
.lt-ie8 #middle,
.lt-ie8 #chat-box-screen p,
.lt-ie8 .clearfix {
	display: inline-block;
	display: block;    /* resets display for IE/Win */
	zoom: 1;    /* triggers hasLayout */
}

/*==================================================================================================
	MIDDLE
==================================================================================================*/

.lt-ie9 #middle {
    background-color: #fff;
}

/*==================================================================================================
	CONTENT
==================================================================================================*/

/*************************************************
	REGISTRATION & LOGIN FORM
*************************************************/

.lt-ie9 .reg-and-login-form input {
    width: 130px;
}

.lt-ie9 #submit-login-form {
    width: 60px;
}

.lt-ie9 #submit-reg-form {
    width: 100px;
}